{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<h1>{{ company_name|upper }}</h1>
<div>
    <p>Зовнішнє незалежне оцінювання – процес визначення рівня навчальних досягнень випускників загальноосвітніх
    навчальних закладів установами, що не залежать від загальноосвітніх та вищих навчальних закладів.<br>
    В Україні такими установами є Український центр оцінювання якості освіти та дев’ять регіональних
    центрів, включаючи Вінницький регіональний центр оцінювання якості освіти.
    </p>
    <ul>Мета зовнішнього незалежного оцінювання:
    <li>Перевірити відповідність знань, умінь і навичок учнів програмовим вимогам.</li>
    <li>Виявити та оцінити рівень навчальних досягнень учнів.</li>
    <li>Оцінити ступінь підготовленості випускників загальноосвітніх навчальних закладів до подальшого
    навчання у вищих навчальних закладах.</li>
    </ul>
    <p>Загальна кількість послуг: {{ count_services }} service{{ count_services|pluralize:"s" }}</p>
</div>
{% endblock content %}
